/* colors of styleguide */
$color-black:             #222;
$color-white:             #fff;

$color-blue:              #0099b5;
$color-blue-dark:         #304144;

$color-grey:              #97a0a1;
$color-grey-light:        #f7f7f7;

$color-green:             #21775e;
$color-green-light:       #42bbba;
$color-yellow:            #f2bd1c;
$color-yellow-light:      #fee678;

$rem-with-px-fallback:    true;

/* -----     FONTS     ----- */
$serif:                   Georgia, Times New Roman, Times, serif;
$monospaced:              Monaco, Consolas, Lucida Console, Bitstream Vera Sans Mono, Courier New, monospace;
$font-mangrove:           gothamBook;
$font-mangrove-bold:      gothamBold;

/* -----     GRID + BREAKPOINTS     ----- */

$grid-columns:        12;

$gutter-xs:         20px;
$gutter-sm:         20px;
$gutter-md:         30px;
$gutter-lg:         40px;
$gutter-xl:         40px;

// Extra small screen / phone
$screen-xxs:        0 !default;
$screen-xs:         380px !default;

// Small screen / tablet + portrait
$screen-sm:                 762px !default;

// Medium screen / tablet + landscape
$screen-md:                 992px !default;

// Large screen / desktop
$screen-lg:         1162px !default;

// Extra large screen / wide desktop
$screen-xl:         1386px !default;

$screen-xs-max:       ($screen-sm - 1) !default;
$screen-sm-max:       ($screen-md - 1) !default;
$screen-md-max:       ($screen-lg - 1) !default;
$screen-lg-max:       ($screen-xl - 1) !default;

$site-width-xs:       300px;
$site-width-sm:       762px;
$site-width-md:       962px;
$site-width-lg:       1170px;
$site-width-xl:       1600px;

$breakpoints: (
  ('xs', $screen-xxs, $site-width-xs, $gutter-xs),
  ('sm', $screen-sm, $site-width-sm, $gutter-sm),
  ('md', $screen-md, $site-width-md, $gutter-md),
  ('lg', $screen-lg, $site-width-lg, $gutter-lg),
  ('xl', $screen-xl, $site-width-xl, $gutter-xl)
);


/* -----     OTHER UTILITIES     ----- */

$border-radius:       3px;
