/*doc
---
title: Buttons
name: button
category: Base CSS
---

Button styles can be applied to any element. Typically you'll want to
use either a `<button>` or an `<a>` element:

```html_example
<button class="btn btnDefault">Click</button>
<a class="btn btnDefault" href="http://trulia.com">Don't click</a>
```

If your button is actually a link to another page, please use the
`<a>` element, while if your button performs an action, such as submitting
a form or triggering some javascript event, then use a `<button>` element.

##Button Sizes
There are three 3 sizes for buttons: Large, medium (default)
and small. Simply apply the size modifier class for the desired size.
There is also an additional modifier that will make the button take the
full width of the container. It may be used with the any of the button
size and style modifiers.

Button                                                            | Modifier Class
----------------------------------------------------------------- | -----------------
<a class="btn btn--blue">blue button</a>                | `btn btn--blue`
<a class="btn">Default</a>                              | `btn`
<a class="btn btn--transparent">transparent button</a>                | `btn btn--transparent`
*/

button {
  background: none;
  border: 0;
}

/* Base button */
.btn {
  padding: 10px 20px;
  line-height: 1;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  border: solid 2px $color-blue-dark;
  transition: all 0.5 ease-in;
  cursor: pointer;
  &:hover {
    border-color: $color-blue;
  }
}

/* Button blue */
.btn--blue {
  background: $color-blue;
  color: $color-white !important;
  border-color: $color-blue;
  &:hover {
    border-color: $color-blue-dark;
    background: $color-blue-dark;
  }
}

.btn--transparent {
  background: transparent;
  color: $color-white !important;
  border-color: $color-white;
  &:hover {
    background: $color-blue;
  }
}

.rounded-arrow {
  background: $color-white;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  line-height: 43px;
  transition: all 0.5s ease;
  &:after {
    content: "";
    display: inline-block;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $color-blue;
  }
  &:hover {
    background: $color-black;
  }
}






