/*doc
---
title: Lists
name: list
category: Misc
---

Font we're using are:
Gotham

```html_example
  <ul class="clearlist list-arrow">
    <li><a href="">Our visit to the Brookly Beta conference</a></li>
    <li><a href="">The Hack Battle 2014</a></li>
    <li><a href="">42,195 km</a></li>
  </ul>
```
*/

.list-arrow {
  li {
    margin-bottom: 0;
    padding-left: 20px;
    position: relative;
    a { color: $color-blue; }
    &:before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      background: red;
      position: absolute;
      top: 7px;
      left: 0;
    }
  }
}
