---
title: Article
---
<header class="bg-cover">
  <div class="container">
    <nav class="mainmenu bg--white padding-20">
      <h1><a href="#" class="mangrove">Mangrove</a></h1>
      <ul class="clearlist">
        <li><a href="#">Work</a></li>
        <li><a href="#">Our Company</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Journal</a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="centered">
  <article class="">
    <div class="container push--left">
      <span class="caps">omron healthcare</span>
      <h1 class="h1-alt">We're helping people getting healthy</h1>
      <p class="h3">With clever apps that synch with Omron’s tracking devices</p>
    </div>
  </article>
</section>
