---
title: Mangrove
---
<header class="fullbg bg-cover">
  <nav class="mainmenu bg--white padding-20">
    <h1><a href="#" class="mangrove">Mangrove</a></h1>
    <ul class="clearlist">
      <li><a href="#">Work</a></li>
      <li><a href="#">Our Company</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Journal</a></li>
    </ul>
  </nav>
  <div class="push--left">
    <div class="hellow">
      <h1>We are a web &amp; mobile agency</h1>
      <h2 class="margin-0">Designing and building the best user-experience for clients that matter.</h2>
    </div>
  </div>
</header>

<section class="bg--white intro push--left typo-haslayout cf">
  <div class="box-float--left">
    <h1 class="h3">Work with us to design and develop apps, responsive websites and online platforms. From strategic roadmap to long-term execution.</h1>
  </div>
  <div class="box-float--left">
    <div class="btns-centered">
      <a href="" class="btn">About us</a>
      <a href="" class="btn btn--blue">Work with us</a>
    </div>
  </div>
</section>

<section class="cases">
  <article class="case push--left bg-cover" style="background: url(assets/images/bg-1.jpg) no-repeat top center;">
    <div class="maincontent cf">
      <div class="box-float--left">
        <h1 class="h1-alt">Building a platform with a heart</h1>
        <h2 class="h3">We made an engaging platform for volunteers, patients and care-professionals.</h2>
        <a href="" class="btn btn--transparent">Case study</a>
      </div>
    </div>
  </article>
  <article class="case push--left bg-cover" style="background: url(assets/images/bg-case-rdam.jpg) no-repeat top center;">
    <div class="maincontent cf">
      <div class="box-float--left">
        <h1>Rotterdam City Portal</h1>
        <h2>A brand new city portal for the most awesome city of The Netherlands.</h2>
        <a href="" class="btn btn--transparent">Case study</a>
      </div>
    </div>
  </article>
</section>
